//设置常见的屏幕尺寸 修改里面的html文字大小
html{
    //如果是pc端打开 （>750px）
    font-size: 50px;
}
a{
    text-decoration: none;
}
//320
//我们此次定义划分的分数为15
@num:15;
@media screen and (min-width:320px){
    html{
        //必须加括号
        font-size: (320px / @num);
    }
}


//360
@media screen and (min-width:360px){
    html{
        //必须加括号
        font-size: (360px / @num);
    }
}


//375 iPhone 6/7/8
@media screen and (min-width:375px){
    html{
        //必须加括号
        font-size: (375px / @num);
    }
}

//384
@media screen and (min-width:384px){
    html{
        //必须加括号
        font-size: (384px / @num);
    }
}
//400
@media screen and (min-width:400px){
    html{
        //必须加括号
        font-size: (400px / @num);
    }
}
//414
@media screen and (min-width:414px){
    html{
        //必须加括号
        font-size: (414px / @num);
    }
}
//424
@media screen and (min-width:424px){
    html{
        //必须加括号
        font-size: (424px / @num);
    }
}
//480
@media screen and (min-width:480px){
    html{
        //必须加括号
        font-size: (480px / @num);
    }
}
//540
@media screen and (min-width:540px){
    html{
        //必须加括号
        font-size: (540px / @num);
    }
}
//720
@media screen and (min-width:720px){
    html{
        //必须加括号
        font-size: (720px / @num);
    }
}
//750
@media screen and (min-width:750px){
    html{
        //必须加括号
        font-size: (750px / @num);
    }
}
